<div class="container">
    <div class="omb_login">
        <h3 class="omb_authTitle">Login or
            <a href="#">Sign up</a>
        </h3>
        <div id="status"></div>

        <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <div class="col-xs-3 col-sm-2">
                <a href="" onclick="onFBLogin()" class="btn btn-primary">
                    <span class="fa fa-facebook"></span> Facebook</a>

            </div>
            <div class="col-xs-3 col-sm-3">
                <!-- <a href="/twitterLogin/:clientId" onclick="" class="btn btn-info"> -->
                <!-- <button class="btn btn-info" id="request"> -->
                <!-- <span class="fa fa-twitter"></span> Twitter -->
                <!-- </button> -->
                <!-- </a> -->
                <button class="btn btn-default" id="" onclick="twitterLogin1()" style="text-align: left" data-provider="twitter">
                    <span style="display: block; margin-left: 10px">
                        <img src="https://oauth.io/api/providers/twitter/logo" width="10" height="18" class="pull-left">
                        <span style="display: block; margin-left: 43px; position: relative; top: 5px"> Twitter</span>
                    </span>
                </button>
            </div>
            <div class="col-xs-3 col-sm-2">
                <a href="" onclick="onGoogleLogin()" class="btn btn-danger">
                    <span class="fa fa-google"></span> Google popup26</a>
                <!-- <a href="" id="googleLogin" class="btn btn-danger"> Google popup</a> -->
                <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
                <!-- <a href="" id="google-loginbtn"class="btn btn-danger">Google</a> -->
            </div>
            <div class="col-xs-3 col-sm-2">
                <!-- <a href="" onclick="googleLogin()" class="btn btn-danger"> -->
                <!-- <span class="fa fa-google"></span> Google popup</a> -->
                <!-- <a href="" id="linkedin-loginbtn" onclick="linkedinLogin1()" class="btn btn-warning">LinkedIn</a> -->
                <script type="IN/Login"></script>
            </div>

        </div>
    </div>
    <div class="row omb_row-sm-offset-3 omb_loginOr">
        <div class="col-xs-12 col-sm-6">
            <hr class="omb_hrOr">
            <span class="omb_spanOr">or</span>
        </div>
    </div>
    <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-6">
            <form class="omb_loginForm">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-control" name="username" placeholder="email address" ng-model="obj.userId">
                </div>
                <span class="help-block"></span>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="obj.password">
                </div>
                <!--<span class="help-block">Password error</span>-->
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(obj)">Login</button>
            </form>
        </div>
    </div>
    <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-3">
            <label class="checkbox">
                <input type="checkbox" value="remember-me">Remember Me
            </label>
        </div>
        <div class="col-xs-12 col-sm-3">
            <p class="omb_forgotPwd">
                <a href="#">Forgot password?</a>
            </p>
        </div>
    </div>
</div>


</div>

<!-- <script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '141985076589731',
            cookie: true,
            xfbml: true,
            version: 'v2.11'
        });

        FB.getLoginStatus(function (response) {
            if(response.status==='connnected'){
                document.getElementById('status').innerHTML='We are connected'
            }
            else if(response.status==='not_authorized'){
                document.getElementById('status').innerHTML='We are not logged in'   
            }
        });

    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=141985076589731';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script> -->

<style>
    /*
        Note: It is best to use a less version of this file ( see http://css2less.cc
        For the media queries use @screen-sm-min instead of 768px.
        For .omb_spanOr use @body-bg instead of white.
    */

    @media (min-width: 768px) {
        .omb_row-sm-offset-3 div:first-child[class*="col-"] {
            margin-left: 25%;
        }
    }

    .omb_login .omb_authTitle {
        text-align: center;
        line-height: 300%;
    }

    .omb_login .omb_socialButtons a {
        color: white;
        /* / / In yourUse @body-bg opacity: 0.9; */
    }

    .omb_login .omb_socialButtons a:hover {
        color: white;
        opacity: 1;
    }

    .omb_login .omb_socialButtons .omb_btn-facebook {
        background: #3b5998;
    }

    .omb_login .omb_socialButtons .omb_btn-twitter {
        background: #00aced;
    }

    .omb_login .omb_socialButtons .omb_btn-google {
        background: #c32f10;
    }

    .omb_login .omb_loginOr {
        position: relative;
        font-size: 1.5em;
        color: #aaa;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .omb_login .omb_loginOr .omb_hrOr {
        background-color: #cdcdcd;
        height: 1px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .omb_login .omb_loginOr .omb_spanOr {
        display: block;
        position: absolute;
        left: 50%;
        top: -0.6em;
        margin-left: -1.5em;
        background-color: white;
        width: 3em;
        text-align: center;
    }

    .omb_login .omb_loginForm .input-group.i {
        width: 2em;
    }

    .omb_login .omb_loginForm .help-block {
        color: red;
    }

    @media (min-width: 768px) {
        .omb_login .omb_forgotPwd {
            text-align: right;
            margin-top: 10px;
        }
    }
</style>
<script>
    function googleLogin() {
        auth2.grantOfflineAccess().then(signInCallback);
    }

    function signInCallback(authResult) {
        if (authResult['code']) {

            // Hide the sign-in button now that the user is authorized, for example:
            // $('#signinButton').attr('style', 'display: none');

            // Send the code to the server
            $.ajax({
                type: 'POST',
                data: { 'code26': JSON.stringify(authResult['code']) },
                url: 'https://oauth.voltuswave.com/storegooglecode',
                // Always include an `X-Requested-With` header in every AJAX request,
                // to protect against CSRF attacks.
                // headers: {
                //     'X-Requested-With': 'XMLHttpRequest',
                //     'Access-Control - Allow - Origin': '*',
                //     'Access- Control - Allow - Methods': 'POST',
                //     'Access - Control - Allow - Headers': ('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8'),
                // },
                // crossDomain: true,
                // processData: false,
                success: function (response) {
                    console.log(response)
                },
                error: function (d) {
                    console.log(d)
                },
            });
        } else {
            // There was an error.
        }

    }


    function openwindow() {
        // window.open(window.location.href = '/googlepassport',"myWindow", 'width=800,height=600')

    }
    $("#google-loginbtn").click(function () {
        var clientId = 8008023055
        $(location).attr('href', '/googleloginapi/:' + clientId);
    })
    $("#twitter-loginbtn").click(function () {
        var clientId = 'twitter23005'
        $(location).attr('href', '/twitterLogin/:' + clientId);
    })
    $("#linkedin-loginbtn").click(function () {
        var clientId = 23005
        $(location).attr('href', '/linkedinLogin/:' + clientId);
    })
</script>
<script>
    OAuth.initialize('kOczkh7apVE2yZipWG9PB7x_GOs')
    var OAUTHURL = 'https://accounts.google.com/o/oauth2/auth?';
    var VALIDURL = 'https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=';
    var SCOPE = 'https://www.googleapis.com/auth/userinfo.profile';
    var CLIENTID = '548197471767-5p7poaa8dms4mgr0ktg9c1kbolifjuiq.apps.googleusercontent.com';
    var REDIRECT = 'https://oauth.voltuswave.com/google/callback';
    var TYPE = 'token';
    var _url = OAUTHURL + 'scope=' + SCOPE + '&client_id=' + CLIENTID + '&redirect_uri=' + REDIRECT + '&response_type=' + TYPE;
    var acToken;
    var tokenType;
    var expiresIn;
    var user;
    $('#googleLogin').click(function () {
        var win = window.open(_url, "windowname1", 'width=800, height=600');

        var pollTimer = window.setInterval(function () {
            if (win.document.URL.indexOf(REDIRECT) != -1) {
                window.clearInterval(pollTimer);
                var url = win.document.URL;
                acToken = gup(url, 'access_token');
                tokenType = gup(url, 'token_type');
                expiresIn = gup(url, 'expires_in');
                win.close();

                validateToken(acToken);
            }
        }, 100);
    });
    function validateToken(token) {
        $.ajax({
            url: VALIDURL + token,
            data: null,
            success: function (responseText) {
                getUserInfo();
                console.log(getUserInfo())
            },
            dataType: "jsonp"
        });
    }
</script>

<script>
    function onGoogleLogin() {
        var params = {
            'clientid': '980818055652-40mtbld2vgtvmm07554lffh305c3qlrn.apps.googleusercontent.com',
            'cookiepolicy': 'single_host_origin',
            'callback': function (result) {
                if (result['status']['signed_in']) {
                    var request = gapi.client.plus.people.get({
                        'userId': 'me'
                    })
                    request.execute(function (response) {
                        console.log(response.result.emails[0].value)
                    })
                }
            },
            'approvalprompt': 'force',
            'scope': 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read'
        }
        gapi.auth.signIn(params)
    }

    function onFBLogin() {
        FB.login(function (response) {
            if (response.authResponse) {
                FB.api('/me', 'GET', { fields: 'email,first_name,name,id,picture' }, function (response) {
                    console.log(response)
                })
            } else {
                ///error
            }
        }, {
                scope: 'email',
                return_scopes: true
            })
    }
    function onLinkedInLogin() {
        // IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", "email-address").result(onSuccess).error(onError)
        IN.API.Profile("me").fields("id", "first-name", "last-name", "email-address"
            , "public-profile-url", "picture-url", "picture-urls::(original)", "headline", "summary", "location", "industry", "positions").result(onSuccess);

    }
    
    function onSuccess(data) {
        console.log(data);
        alert(data.values[0].emailAddress)
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    function twitterLogin1() {
        OAuth.initialize('kOczkh7apVE2yZipWG9PB7x_GOs')
        OAuth.popup('twitter', { cache: true })
            .done(function (result) {
                result.me()
                    .done(function (response) {
                        console.log(response)
                    })
                    .fail(function (err) {
                        //handle error with err
                    });
            })
            .fail(function (err) {
                //handle error with err
            });
    }
    function linkedinLogin1() {
        OAuth.initialize('kOczkh7apVE2yZipWG9PB7x_GOs')
        OAuth.popup('linkedin')
            .done(function (result) {
                result.me()
                    .done(function (response) {
                        console.log(response)
                    })
                    .fail(function (err) {
                        //handle error with err
                    });
            })
            .fail(function (err) {
                //handle error with err
            });
    }

</script>