<style>
    p {
        font-family: Tahoma;
    }

    div#result li {
        font-size: large;
    }
</style>
<div class="row">
    <div class="col-md-offset-1 col-md-2">

        <img src="https://lh3.googleusercontent.com/2T9SN27C75VqzNTxPrAIcSdajipCnEgugy8x4HgYH0Yl3ezHoI_UW7mQOcoCvNys8y-WYfous18=s220"
            alt="logo">
    </div>
</div>
<div class="row" style="margin-top:100px">

    <div class="col-md-offset-2 col-md-2">
        <button type="submit" class="btn btn-success" onclick="UploadPicker()">Upload to GoogleDrive</button>
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary" onclick="DownloadPicker()">Download From GoogleDrive</button>

    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-success" onclick="UploadToOneDrive()">Upload to OneDrive</button>
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary" onclick="DownloadFromOneDrive()">Download from OneDrive</button>
    </div>
</div>

<div class="col-md-offset-4" style="margin-top:30px">
    <div class="col-md-6">
        <div id="result"></div>
    </div>

</div>

<!--Add a button for the user to click to initiate auth sequence -->
<!-- var clientId = '980818055652-40mtbld2vgtvmm07554lffh305c3qlrn.apps.googleusercontent.com' -->
<!-- var apiKey = 'AIzaSyDUZzRbv8DRWe1eVAe_C_eLCjG2A-s-9xg'; -->
<script type="text/javascript">
    var developerKey = 'AIzaSyDUZzRbv8DRWe1eVAe_C_eLCjG2A-s-9xg';
    var clientId = "980818055652-40mtbld2vgtvmm07554lffh305c3qlrn.apps.googleusercontent.com"
    // Scope to use to access user's Drive items.
    var scope = ['https://www.googleapis.com/auth/drive'];
    var pickerApiLoaded = true;
    var oauthToken;
    // Use the Google API Loader script to load the google.picker script.

    function DownloadPicker() {                                                             // Download method
        gapi.load('auth', { 'callback': onAuthApiDownLoad });
        gapi.load('picker', { 'callback': onPickerApiDownLoad });
        // var access_token = 'ya29.GlxsBXf_gvCUkWgE9dOvLEhSM6UuVgRmjGutkYlXAn5b5mIFMwMTqWrKFP1AZnvf4dO0rKZJWi4EVlYhA9yX3cRkGWiazTkQ_pSd67oRXcLHYVUdCnvb7zNsbPWGgA'
        // const drive_url = "https://www.googleapis.com/drive/v3/folders";
        // let drive_request = {
        //     method: "GET",
        //     headers: new Headers({
        //         Authorization: "Bearer " + access_token
        //     })
        // }
        // fetch(drive_url, drive_request).then(response => {
        //     return (response.json());
        // }).then(list => {
        //     console.log(list);
        // });

    }
    function onPickerApiDownLoad() {                                                             // Download method
        pickerApiLoaded = true;
        createPickerForDownload();
    }

    function onAuthApiDownLoad() {                                                              // Download method
        window.gapi.auth.authorize(
            {
                'client_id': clientId,
                'scope': scope,
                'immediate': false
            },
            handleAuthResultForDownload);
    }
    function handleAuthResultForDownload(authResult) {                                                             // Download method
        console.log(authResult)
        if (authResult && !authResult.error) {
            oauthToken = authResult.access_token;
            createPickerForDownload();
        }
    }
    function createPickerForDownload() {                                                                                // Download method
        if (pickerApiLoaded && oauthToken) {
            var view = new google.picker.DocsView()
            view.setParent('1dm_go8DBC66GfZbgG7vkBsIM2vVOMJIq')                                                         // default folder selected
            view.setIncludeFolders(true)
            view.setMimeTypes('')
            view.setSelectFolderEnabled(true);
            view.setMode(google.picker.DocsViewMode.LIST);
            var picker = new google.picker.PickerBuilder()
                .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
                .setOAuthToken(oauthToken)
                .addView(view)
                .setDeveloperKey(developerKey)
                .setCallback(pickerCallback)
                .build();
            picker.setVisible(true);
        }
    }
    function UploadPicker() {                                                             // Upload method
        gapi.load('auth', { 'callback': onAuthApiUpLoad });
        gapi.load('picker', { 'callback': onPickerApiUpLoad });
    }
    function onPickerApiUpLoad() {                                                             // Upload method
        pickerApiLoaded = true;
        createPickerForUpload();
    }
    function onAuthApiUpLoad() {                                                             // Upload method
        window.gapi.auth.authorize(
            {
                'client_id': clientId,
                'scope': scope,
                'immediate': false
            },
            handleAuthResultForUpload);
    }
    function handleAuthResultForUpload(authResult) {                                                         // Upload method
        if (authResult && !authResult.error) {
            oauthToken = authResult.access_token;
            createPickerForUpload();
        }
    }

    // Create and render a Picker object for searching images.
    function createPickerForUpload() {                                                                                // Upload method
        // var origin = window.location.protocol + '//' + window.location.host;
        if (pickerApiLoaded && oauthToken) {
            var view = new google.picker.DocsView()
            view.setIncludeFolders(true)
            view.setMimeTypes('')
            view.setSelectFolderEnabled(true)
            view.setParent('1dm_go8DBC66GfZbgG7vkBsIM2vVOMJIq')
            console.log(view)
            var picker = new google.picker.PickerBuilder()
                .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
                .setOAuthToken(oauthToken)
                .addView(view)
                // .addView(new google.picker.DocsUploadView().setIncludeFolders(true))         // display list of folders
                .addView(new google.picker.DocsUploadView().setParent('1dm_go8DBC66GfZbgG7vkBsIM2vVOMJIq'))     // default folder selected
                .setDeveloperKey(developerKey)
                .build();
            picker.setVisible(true);
        }
    }

    // A simple callback implementation.
    // function pickerCallback(data) {                                                                                 // download function
    //     console.log(data)
    //     // var fileId = 'nothing';
    //     if (data[google.picker.Response.ACTION] == google.picker.Action.PICKED) {
    //         const fileData = data.docs
    //         // var fileId = data.docs[0].id;
    //         // window.location.href='https://drive.google.com/open?id='+fileId                      // open image

    //         for (let file of fileData) {
    //             window.location.href = 'https://docs.google.com/uc?id=' + file.id + '&export=download'        // download file
    //         }
    //     }


    // }
    function pickerCallback(data) {
        var url = 'nothing';
        if (data[google.picker.Response.ACTION] == google.picker.Action.PICKED) {
            var doc = data[google.picker.Response.DOCUMENTS][0];
            url = doc[google.picker.Document.URL];
            const fileData = data.docs
            var mydiv = document.getElementById("result");
            var olTag = document.createElement('ol')
            for (let file of fileData) {
                var anchorTag = document.createElement("a");
                var listTag = document.createElement('li')
                var message = file.name;
                anchorTag.setAttribute('href', 'https://docs.google.com/uc?id=' + file.id + '&export=download');
                anchorTag.innerHTML = message
                console.log(anchorTag)
                listTag.appendChild(anchorTag)
                olTag.appendChild(listTag)
                mydiv.appendChild(olTag)

            }

        }

    }
</script>
<script type="text/javascript">
    function UploadToOneDrive() {
        var odOptions = {
            clientId: "38bccbf0-0f53-41c7-8828-9b1487a882e8",
            action: "save",
            multiSelect: false,
            openInNewWindow: true,
            // folderId:'Et3iCOJw62JHmrd4VY8bAFYBG1ztq4hNMJgDN-8sFV_OZQ?e=B8u7at',
            advanced: {
                // path:'https://voltuswave-my.sharepoint.com/:f:/p/gowrisankar_maganti/Et3iCOJw62JHmrd4VY8bAFYBG1ztq4hNMJgDN-8sFV_OZQ?e=B8u7at',
            },
            success: function (files) {
            },
            cancel: function () { /* cancel handler */ },
            error: function (e) { /* error handler */ }
        }
        OneDrive.open(odOptions);
    }
    function DownloadFromOneDrive() {
        var odOptions = {
            clientId: "38bccbf0-0f53-41c7-8828-9b1487a882e8",
            action: "download",
            multiSelect: false,
            openInNewWindow: true,
            advanced: {
                navigation: {
                    entryLocation: {
                        sharePoint: {
                            listPath: "",
                        }
                    },
                },
            },
            success: function (files) {
                console.log(files)
                for (let file of files.value) {
                    window.location.href = file['@microsoft.graph.downloadUrl']       // download file
                }
            },
            cancel: function () { /* cancel handler */ },
            error: function (e) { /* error handler */ }
        }
        OneDrive.open(odOptions);
    }
</script>