<!--<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="google-site-verification" content="pCLoCF-lKLRCqjuzerATpRUnDSVsDRBKyDeS7WEX6X0" />
<link href="css/custom.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css">
<link href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">  

</head>
<body>-->
<div class="fulcontainer" ng-init="initItems()">

    <div class="header" style="background-color:#fff;">
        <div id="topdiv" class="row">
            <div class="col-sm-6 col-xs-7 text-left">
                <p class="mobview"><strong>{{'openinghours'|translate:this}}</strong></p>
                <p>
                    <span class="langcol">
                        <a id="{{enlang}}" href="" ng-click="changeLangauge('en')">{{'englishlang'|translate:this}}</a>
                        <a id="{{rtllang}}" href="" ng-click="changeLangauge('rtl')">{{'arablang'|translate:this}}</a>
                    </span>
                </p>
            </div>
            <div class="col-sm-6 col-xs-5 text-right">
                <p ng-class="{headerStylePading:containerClass=='rtl',MobStylePadingNotHome:containerClass=='rtl'&&customerInfo}">
                    <span class="signinbtn cursorStyle" ng-if="!customerInfo" ng-click="getlogin()">{{'signinbutton'|translate:this}}</span>
                </p>
                <!--<span class="" ng-if="customerInfo"><ngcart-name></ngcart-name>-->
                <!--</span>-->
                <p class="mobview"><strong ng-class="{'numberRtl':containerClass=='rtl'}">
                    <i class="fa fa-mobile iconMobHeader iconMobHeaderRtl" ng-class="{iconMobHeaderRtl:containerClass=='rtl'}" aria-hidden="true"></i> 920008013</strong>
                </p>
                <p class="mobview">
                    <a href="https://www.facebook.com/ByblosXpress"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> |
                    <a href="https://www.instagram.com/byblosxpress"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
        <div class="row mobilehead">
            <div class="col-sm-2 col-xs-7">
                <div class="logo"><a ui-sref="home">
                    <span ng-if="containerClass=='en'"><img class="img-responsive" src="images/logo.png" alt=""></span>
                    <span ng-if="containerClass=='rtl'"><img class="img-responsive" src="images/logo2.png"
                                                             alt=""></span>
                </a>
                </div>
            </div>
            <div class="col-sm-10 col-xs-5">
                <div class="mainmenu">
                    <div class="dropdown" ng-if="customerInfo" ng-class="{'rtlusericon':containerClass=='rtl'}">
                        <div id="usericon" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <ul class="dropdown-menu pull-right" style="top:55px">
                            <li><a href="">
                                <ngcart-name></ngcart-name>
                            </a></li>
                            <li><a ui-sref="account">{{'youraccount'|translate:this}}</a></li>
                            <hr>
                            <li><a href="" ng-click="logout()">{{'signout'|translate:this}}</a></li>
                        </ul>
                    </div>
                    <div ng-class="{'pull-right':containerClass=='en','pull-left':containerClass=='rtl'}">
                        <div id="icon" ng-class="{'pull-left':containerClass=='en','pull-right':containerClass=='rtl'}">
                            <i class="fa fa-bars" aria-hidden="true"></i></div>
                        <span ng-class="{'pull-left':containerClass=='en','pull-right':containerClass=='rtl',rtlcart:containerClass=='rtl'}"><ngcart-summary></ngcart-summary></span>

                        <!--<span ng-class="{'pull-left':containerClass=='en','pull-right':containerClass=='rtl',rtlcart:containerClass=='rtl'}">-->
                        <!--<ngcart-name></ngcart-name></span>-->
                    </div>
                    <div id="menu" style="display: none">
                        <ul>
                            <li ng-class="{'pull-right':containerClass=='rtl'}"><a href="index.html#home"><i
                                    class="fa fa-home" aria-hidden="true"></i><br><span>{{'Home'|translate:this}}</span></a>
                            </li>
                            <li ng-class="{'pull-right':containerClass=='rtl'}"><a href="index.html#aboutus"><i
                                    class="fa fa-star-o"
                                    aria-hidden="true"></i><br><span>{{'About'|translate:this}}</span></a>
                            </li>
                            <li ng-class="{'pull-right':containerClass=='rtl'}"><a href="index.html#menupage"><i
                                    class="fa fa-bell-o"
                                    aria-hidden="true"></i><br><span>{{'Menu'|translate:this}}</span></a>
                            </li>
                            <li ng-class="{'pull-right':containerClass=='rtl'}"><a href="#contactus"><i
                                    class="fa fa-fw fa-newspaper-o"
                                    aria-hidden="true"></i><br><span>{{'contact'|translate:this}}</span></a>
                            </li>
                            <li ng-class="{'pull-right':containerClass=='rtl'}"><a href=""><i
                                    class="fa fa-fw fa-envelope-o" aria-hidden="true"></i><br><span>{{'onlineorders'|translate:this}}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="orderpage">
        <div class="orderdontent mobileviewtabinfo">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="fourDiv"><p><span>1</span><a ui-sref="home" style="color: #444">{{'locations'|translate:this}}</a>
                        </p></div>
                    </div>
                    <!--<div class="col-sm-3">
                        <div class="fourDiv"><p><span>2</span>Choose Restaurant</p></div>
                    </div>-->
                    <div class="col-sm-4">
                        <div class="fourDiv"><p id="active"><span>2</span> <a ui-sref="" style="color: #444">{{'favouritefoods'|translate:this}}</a>
                        </p></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="fourDiv"><p><span>3</span><a ui-sref="checkout({val:'true'})" style="color: #444">{{'onlineOrders'|translate:this}}</a>
                        </p></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="maincontent mobileviewmaincontent">
            <div class="container">
                <div class="row deskcatogories">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-sm-4" style="position:relative;">
                                <div class="cosinecontent threecontainer fixedcont">
                                    <h4>{{ 'categories' | translate:this }} <span ng-class="{'pull-right':containerClass=='en','pull-left':containerClass=='rtl'}"><i
                                            class="fa fa-cutlery"
                                            aria-hidden="true"></i></span></h4>
                                    <ul class="nav nav-tabs" ng-repeat="category in categoriesList">
                                        <li class="active"><a ng-click="getSelectedProductsFn(category.id)"
                                                              ng-class="{selected_category: category.id ==categoryId}">
                                            <span ng-if="containerClass=='en'">{{category.categoryEn}}</span>
                                            <span ng-if="containerClass=='rtl'">{{category.categoryAr}}</span>
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="food-items threecontainer">
                                    <h4> {{ 'products' | translate:this }}</h4>
                                    <div class="tab-content">
                                        <div id="tab1" class="tab-pane fade in active">
                                            <div class="item-content">
                                                <div class="itemdetails"
                                                     ng-repeat="product in productsList |filter:getSelectedProductsFilter">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <a class="popup" href=""
                                                               ng-click="showimage(product.imagePath)"><img
                                                                    class="img-responsive food_pic"
                                                                    src="{{product.imagePath}}" alt=""></a>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h5>
                                                                <span ng-if="containerClass=='en'">{{product.productEn}}</span>
                                                                <span ng-if="containerClass=='rtl'">{{product.productAr}}</span>
                                                            </h5>
                                                            <p ng-if="containerClass=='en'">{{product.descEn}}</p>
                                                            <p ng-if="containerClass=='rtl'">{{product.descAr}}</p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <select class="form-control" ng-model="productSize"
                                                                    ng-options="size.sizeEn for size in product.sizes"
                                                                    ng-init="productSize=product.sizes[0]">
                                                                <option value="product.sizes[0]">
                                                                    {{product.sizes[0].sizeEn}}
                                                                </option>
                                                            </select>
                                                            <!--<p class="text-right"><a href=""
                                                                                     ng-click="modifiersbtn(product.modifier,product.id,productSize.size)">{{'modifiers'|translate:this}}</a>
                                                            </p>-->
                                                            <p class="itemprice">SR {{productSize.price}}</p>
                                                            <p class="cartbtn">
                                                                <ngcart-addtocart id="{{product.id}}"
                                                                                  name="{{product.productEn}}"
                                                                                  price="{{productSize.price}}"
                                                                                  size="{{productSize.sizeEn}}"
                                                                                  sizehid="{{productSize.hid}}"
                                                                                  data="product" quantity="1"
                                                                                  quantity-max="10"
                                                                                  cartId="userId"
                                                                                  image="{{product.imagePath}}"
                                                                                  class="cursorStyle">
                                                                    {{'addcartbutton'|translate:this}}
                                                                </ngcart-addtocart>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="tab2" class="tab-pane fade">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cart threecontainer fixedcont">
                            <h4>{{ 'carts' | translate:this }}</h4>
                            <div class="setectedcart" ng-show="addedList.length > 0"
                                 ng-repeat="item in addedList track by $index">
                                <div style="clear:both; overflow:hidden;">
                                    <p ng-class="{'pull-right':containerClass=='rtl','pull-left':containerClass=='en'}">
                                        <span ng-if="containerClass=='en'">{{item._data.productEn}}</span>
                                        <span ng-if="containerClass=='rtl'">{{item._data.productAr}}</span>
                                    </p>
                                    <p ng-class="{'pull-left':containerClass=='rtl','pull-right':containerClass=='en'}"
                                       class="trash " ng-click="removeCartItem(item._id,item._size)"><i
                                            class="fa fa-trash-o" aria-hidden="true"></i></p></div>
                                <div class="itemquantity" style="clear:both; overflow:hidden;">
                                    <p ng-class="{'pull-right':containerClass=='rtl','pull-left':containerClass=='en'}">
                                        {{'size'|translate:this}} : {{item._size}} </p>
                                    <div class="sp-quantity"
                                         ng-class="{'pull-left':containerClass=='rtl','pull-right':containerClass=='en'}">
                                        <div class="buton"><input type="button" value="-" class="qtyminus"
                                                                  ng-class="{'disabled':item.getQuantity()==1}"
                                                                  ng-click="item.setQuantity(item._id,item._size,-1, true)"
                                                                  field="quantity"/></div>
                                        <div class="sp-input">&nbsp; {{ item.getQuantity() | number }} &nbsp;</div>
                                        <div class="buton"><input type="button" value="+" class="qtyplus"
                                                                  class="fa fa-plus-square-o"
                                                                  ng-click="item.setQuantity(item._id,item._size,1, true)"
                                                                  field="quantity"/></div>
                                    </div>
                                </div>
                                <div class="toppings">
                                    <p class="topsbtn"
                                       ng-class="{'pull-right':containerClass=='rtl','pull-left':containerClass=='en'}"
                                       ng-click="opentopping()"><a>{{'toppings'|translate:this}}</a></p>
                                    <p class="eachitemprice"
                                       ng-class="{'pull-left':containerClass=='rtl','pull-right':containerClass=='en'}">
                                        SR
                                        {{ item.getQuantity()*item._price}}
                                    </p>
                                    <!--<p class="eachitemprice"
                                       ng-class="{'pull-left':containerClass=='rtl','pull-right':containerClass=='en'}">
                                        SR
                                        <span ng-class="{'pull-left':containerClass=='rtl'}">{{ item.getQuantity()*item._price}}</span>
                                    </p>-->
                                    <div class="toppscont">
                                       <textarea type="text" name="" col="5" ng-model="item._topping"
                                                 placeholder="{{'EnterSpecialNotes'|translate:this}}"></textarea>
                                        <p class="submitbtn"
                                           ng-click="item.setTopping(item._id,item._size,item._topping, true);opentopping()">
                                            <a>{{'submit'|translate:this}}</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="cartdetails" style="direction: ltr">
                                <div class="row" ng-class="{'cartcheckboxes':containerClass=='rtl'}">
                                    <div class="col-sm-6" style="border-right:1px solid #eee;">
                                        <div class="radiocol convertcheck"><input type="checkbox" name="radio-group"
                                                                                  ng-model="delivery"
                                                                                  ng-true-value="true"
                                                                                  ng-false-value="false"
                                                                                  id="delivery"><label for="delivery">{{'deliveries'|translate:this}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" style="padding:0;">
                                        <div class="radiocol convertcheck"><input type="checkbox" ng-model="delivery"
                                                                                  ng-true-value="false"
                                                                                  ng-false-value="true" id="pickup"
                                                                                  name="radio-group"><label
                                                for="pickup">{{'deliverypickups'|translate:this}}</label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="totalitems">
                                <p style="text-transform:uppercase;">{{'Total'|translate:this}}</p>
                                <h4>SR <span><ngcart-total></ngcart-total></span></h4>
                                <p ng-show="delivery">{{'FreeShipping'|translate:this}}</p>
                                <p ng-show="delivery" class="redColor">{{'MinumumCost'|translate:this}}</p>
                                <p class="checkoutbtn"><a href="" ng-click="gotoCheckoutItems(delivery)">{{'checkoutbutton'|translate:this}}</a>
                                </p>
                            </div>
                        </div>
                        <div class="panel locatmeaddress ng-binding" ng-if="locatemeaddress">
                            <h3>{{'cartbelowaddress'|translate:this}}</h3><br>
                            {{locatemeaddress}}
                        </div>
                    </div>
                </div>
                <div class="row mobcatrow mobcatogories">
                    <div class="col-md-6" ng-repeat="category in categoriesList">
                        <div class="panel panel-byblos">
                            <!--<div class="panel-heading" ng-click="getmobviewproducts(category.id)">-->
                            <div class="panel-heading" data-id="{{category.id}}">
                                <h3 class="panel-title">
                                    <span ng-if="containerClass=='en'">{{category.categoryEn}}</span>
                                    <span ng-if="containerClass=='rtl'">{{category.categoryAr}}</span>
                                </h3>
                                <span class="pull-right mobcatclickable panel-collapsed"><i class="fa fa-chevron-down" data-id="{{category.id}}"></i></span>
                            </div>
                            <div class="panel-body collapse" data-id="{{category.id}}">
                                <div class="row" ng-if="loaderactivate">
                                    <div class="col-xs-12">
                                        <img class="" src="https://media.giphy.com/media/FodOSKrO7zPXi/giphy.gif" alt="loader" style="position: relative; right: 50px;">
                                    </div>
                                </div>
                                <ul id="" ng-repeat="product in mobproductsList" >
                                    <li class="mobproductlist">
                                        <a href="">
                                             <div class="row">
                                            <div class="col-xs-3">
                                                <a class="popup" href=""
                                                   ng-click="showimage(product.imagePath)"><img
                                                        class="img-responsive food_pic"
                                                        src="{{product.imagePath}}" alt="" style="max-width: 153%;border: 2px solid #92c9eb;">
                                                </a>
                                            </div>
                                            <div class="col-xs-9">
                                                <div class="col-xs-12">
                                                    <p><span ng-if="containerClass=='en'"><b>{{product.productEn}}</b></span>
                                                        <span ng-if="containerClass=='rtl'"><b>{{product.productAr}}</b></span>
                                                    <p class="mobcartbtn">
                                                        <ngcart-addtocart id="{{product.id}}"
                                                                          name="{{product.productEn}}"
                                                                          price="{{productSize.price}}"
                                                                          size="{{productSize.sizeEn}}"
                                                                          sizehid="{{productSize.hid}}"
                                                                          data="product" quantity="1"
                                                                          quantity-max="10"
                                                                          cartId="userId"
                                                                          image="{{product.imagePath}}"
                                                                          class="cursorStyle">
                                                            +
                                                        </ngcart-addtocart>
                                                    </p>
                                                    </p>
                                                    <select class="" ng-model="productSize"
                                                            ng-options="size.sizeEn for size in product.sizes"
                                                            ng-init="productSize=product.sizes[0]">
                                                        <option value="product.sizes[0]">
                                                            {{product.sizes[0].sizeEn}}
                                                        </option>
                                                    </select>
                                                    <br/>
                                                    <p class="mobproductprice">SR {{productSize.price}}</p>
                                                </div>
                                            </div>
                                        </div>
                                         </a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="z-index:9999;">
        <div class="modal-content">
            <div class="modal-header" style="border:none; padding:0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body" style="overflow:hidden; padding:0;">
                <div class="pop_food_pic">
                    <img class="img-responsive" src="{{imagesrc}}" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="signin" class="modal fade popup" tabindex="-1" role="dialog" ng-controller="loginCtrl"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="z-index:9999; width:360px;">
        <div class="modal-content">
            <div class="modal-header" style="border:none; padding:0;">
                <button type="button" class="close" ng-click="viewLoginPage()" aria-label="Close">X</button>
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>-->
            </div>
            <div class="modal-body" style="overflow:hidden; padding:0;">
                <!--<div class="logindetails" ng-show="(!signin && !guestcheck) || (signin && guestcheck)">                                 &lt;!&ndash;Login&ndash;&gt;-->
                <div class="logindetails" ng-show="!signin && !guestcheck">                                 <!--Login-->
                    <h3>{{'logintoyouraccount'|translate:this}}</h3>
                    <ul>
                        <li><input type="text" class="form-control" ng-model="obj.username" allow-pattern="\d"
                                   placeholder="{{'placephonenumber'|translate:this}} *">
                        </li>
                        <li><input type="password" class="form-control" ng-model="obj.password"
                                   placeholder="{{'placepassword'|translate:this}}">
                        </li>
                        <li><a class="btn" ng-click="login(obj)">{{'login'|translate:this}}</a></li>
                        <!--<p><a href="">{{'forgotpassword'|translate:this}}</a></p>-->
                    </ul>
                </div>

                <!--<div class="logindetails" ng-show="(signin && !guestcheck) || (!signin && guestcheck)">                                 &lt;!&ndash;Sign up&ndash;&gt;-->
                <div class="logindetails" ng-show="signin">                                 <!--Sign up-->
                    <h3>{{'signupnowtitle'|translate:this}}</h3>
                    <ul>
                        <li><input type="text" class="form-control" ng-model="usersign.name"
                                   placeholder="{{'placefullname'|translate:this}}  *"></li>
                        <li><input type="text" class="form-control" ng-model="usersign.username"
                                   placeholder="{{'placeemail'|translate:this}}"></li>
                        <li><input type="text" class="form-control" ng-model="usersign.mobile" maxlength="9"
                                   minlength="9" allow-pattern="\d"
                                   placeholder="{{'placephonenumber'|translate:this}} *"
                                   ng-blur="isExist(usersign.mobile)"></li>
                        <li><input type="text" class="form-control" ng-model="usersign.password"
                                   placeholder="{{'placepassword'|translate:this}}  *"></li>
                        <li><a class="btn" ng-disabled="restrictsubmit" ng-click="register(usersign)">{{'signup'|translate:this}}</a>
                        </li>
                    </ul>
                </div>
                <div class="logindetails" ng-show="guestcheck && !signin">
                    <!--Guest checkout-->
                    <h3>{{'guestbtnform'|translate:this}}</h3>
                    <ul>
                        <li><input type="text" class="form-control" ng-model="guest.name"
                                   placeholder="{{'placefullname'|translate:this}}"></li>
                        <li><input type="text" class="form-control" ng-model="guest.username"
                                   placeholder="{{'placeemail'|translate:this}}"></li>
                        <li><input type="text" class="form-control" ng-model="guest.mobile" maxlength="9" minlength="9"
                                   allow-pattern="\d"
                                   placeholder="{{'placephonenumber'|translate:this}} *"></li>
                        <li><a class="btn" ng-disabled="restrictsubmit" ng-click="guestregister(guest)">{{'guestbtn'|translate:this}}</a>
                        </li>
                    </ul>
                </div>
                <div class="ntremb">
                    <h4>{{'ntamem'|translate:this}}</h4>
                    <p>{{'loginpara'|translate:this}}</p>
                    <p ng-show="!signin && !guestcheck"><a ng-click="signin=!signin">{{'signupnow'|translate:this}}</a>
                        &nbsp; <a href="" fb-login><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a></p>
                    <p ng-show="signin && !guestcheck"><a
                            ng-click="signin=!signin">{{'alreadyhvmem'|translate:this}}</a> &nbsp; <a href=""
                                                                                                      fb-login><i
                            class="fa fa-facebook" aria-hidden="true"></i></a></p>
                    <p ng-show="!signin && guestcheck"><a ng-click="guestcheck=!guestcheck">{{'alreadyhvmem'|translate:this}}</a>
                        &nbsp; <a href="" fb-login><i class="fa fa-facebook" aria-hidden="true"></i></a></p>
                    <h4 ng-show="!guestcheck && !signin">Or</h4>
                    <p ng-show="!guestcheck && !signin" class="guest"><a href="" ng-click="guestcheck=!guestcheck">{{'guestbtn'|translate:this}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fbsignin" class="modal fade popup" tabindex="-1" role="dialog" ng-controller="loginCtrl"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="z-index:9999; width:360px;">
        <div class="modal-content">
            <div class="modal-header" style="border:none; padding:0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body" style="overflow:hidden; padding:0;">
                <!--<div class="logindetails" ng-show="(!signin && !guestcheck) || (signin && guestcheck)">                                 &lt;!&ndash;Login&ndash;&gt;-->
                <div class="logindetails">                                 <!--Login-->
                    <h3>{{'fbnumber'|translate:this}}</h3>
                    <ul>
                        <li><input type="text" class="form-control" ng-model="obj.mobileNumber" maxlength="9"
                                   placeholder="{{'placephonenumber'|translate:this}} *">
                        </li>
                        <li><a class="btn" ng-click="fbnumberupdated(obj)">{{'submit'|translate:this}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modifiers" class="modal fade popup" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="z-index:9999; width:360px;">
        <div class="modal-content">
            <div class="modal-header" style="border:none; padding:0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body" style="overflow:hidden; padding:0;">
                <div class="logindetails">
                    <h3 ng-if="containerClass=='en'">Select {{optiontitle.enName |uppercase}}</h3>
                    <h3 ng-if="containerClass=='rtl'">تحديد {{optiontitle.arName |uppercase}}</h3>
                </div>
                <div class="col-md-12">
                    <div class="col-md-offset-2 col-md-8">
                        <select class="form-control" ng-model="example1model"
                                ng-options="mod as mod.enName for mod in modifierdata"
                                ng-click="testfn(prdctId,prdctSize,example1model);">
                            <option value="">
                                <span>{{optiontitle.enName |uppercase}}</span>
                                <!--<span ng-if="containerClass=='rtl'">{{optiontitle.arName |uppercase}}</span>-->
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px"></div>

            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
// 	$('#myLightbox').lightbox(options)

        <!--  $('.orderpage').css('height', $('.header').height() + 'px'); -->
        $('.menuslide').bxSlider({
            mode: 'horizontal',
            auto: false,
            captions: true
        });
        $('.itemdetails a.popup').click(function () {
            e.preventDefault();
            var food_pic = $(this).children('.food_pic').clone();

            $('#myModal').modal('show');
            food_pic.prependTo('.pop_food_pic');
        });
        var press = 0;
        $('#icon').on('click', function () {
            if (press == 0) {
                $('#menu').css('display', 'block');
                $('.header').css("background", "#fff");
                press = 1;
            } else {
                $('#menu').css('display', 'none');
                $('.header').css("background", "none");
                press = 0;
            }
        });
    });
    /*$(document).on('click', '.panel-heading span.mobcatclickable', function(e){
        var $this = $(this);
        if(!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('fa fa-chevron-up').addClass('fa fa-chevron-down');
        } else {
            var val1 = $this.parents('.panel').find('.panel-body').attr('data-id');
            var val2 = $this.closest('.panel-body').prev('.panel-body').find('.panel-body').attr('data-id');
            var currentValue = $this.parents('.panel').find('.panel-body').attr('data-id');

            var bodycategoryId= $this.parents('.panel').find('.panel-body').attr('data-id')
            angular.element($('.panel-body')).scope().getmobviewproducts(bodycategoryId)
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('fa fa-chevron-down').addClass('fa fa-chevron-up');
        }

    })*/
    var previousTarget = null;
    var categoryId;
    var previousElem;
    var previousId;
    $(document).on('click', '.panel-heading span.mobcatclickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('fa fa-chevron-up').addClass('fa fa-chevron-down');
        } else {
            categoryId = $this.parents('.panel').find('.panel-body').attr('data-id')
            angular.element($('.panel-body')).scope().getmobviewproducts(categoryId)
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('fa fa-chevron-down').addClass('fa fa-chevron-up');
            previousElem = $(previousTarget);
            previousId = previousElem.parents('.panel').find('.fa-chevron-up').attr('data-id')
            if(previousId==undefined){
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('fa fa-chevron-down').addClass('fa fa-chevron-up');
            }
            else if (categoryId !=previousId) {
                previousElem.parents('.panel').find('.panel-body').slideUp();
                previousElem.addClass('panel-collapsed');
                previousElem.find('i').removeClass('fa fa-chevron-up').addClass('fa fa-chevron-down');
                previousElem.parents('.panel').find('.panel-body').css('display','none');
            }
        }

        previousTarget = this;
        return false;
    })

</script>

<!--
</body>
</html>-->
<style>
    .convertcheck [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }

    .modal-header button {
        position: absolute;
        z-index: 999;
        right: 3px;
        color: #000;
        padding: 10px;
    }
    .mobcatrow{
        margin-top:40px;
        padding: 0 10px;
    }

    .mobcatclickable{
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }
</style>