<table class="table table-bordered">
    <thead>
        <tr>
        <th>S.No</th>
        <th>Holiday ID</th>
        <th>Applying User's Name</th>
        <th>Destination</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>User1</td>
            <td>Delhi</td>
            <td>18th Jan 2018</td>
            <td>22nd Jan 2018</td>
            <td>450</td>
        </tr>
        <tr>
            <td>2</td>
            <td>2</td>
            <td>User2</td>
            <td>Delhi</td>
            <td>26th Jan 2018</td>
            <td>28th Jan 2018</td>
            <td>10000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>3</td>
            <td>User3</td>
            <td>Manali</td>
            <td>1st Feb 2018</td>
            <td>4th Feb 2018</td>
            <td>5500</td>
        </tr>
        <tr>
            <td>4</td>
            <td>4</td>
            <td>User4</td>
            <td>Araku</td>
            <td>25th Jan 2018</td>
            <td>28th Jan 2018</td>
            <td>8500</td>
        </tr>
        <tr>
            <td>5</td>
            <td>5</td>
            <td>User5</td>
            <td>Araku</td>
            <td>28th Jan 2018</td>
            <td>30th Jan 2018</td>
            <td>5600</td>
        </tr>
        <tr>
            <td>6</td>
            <td>6</td>
            <td>User6</td>
            <td>Thailand</td>
            <td>27th Jan 2018</td>
            <td>31st Jan 2018</td>
            <td>25000</td>
        </tr>
        <tr>
            <td>7</td>
            <td>7</td>
            <td>User7</td>
            <td>Goa</td>
            <td>28th Jan 2018</td>
            <td>4th Feb 2018</td>
            <td>15000</td>
        </tr>
        <tr>
            <td>8</td>
            <td>8</td>
            <td>User8</td>
            <td>Goa</td>
            <td>28th Jan 2018</td>
            <td>4th Feb 2018</td>
            <td>15000</td>
        </tr>
        <tr>
            <td>9</td>
            <td>9</td>
            <td>User9</td>
            <td>Goa</td>
            <td>28th Jan 2018</td>
            <td>4th Feb 2018</td>
            <td>15000</td>
        </tr>
        <tr>
            <td>10</td>
            <td>10</td>
            <td>User10</td>
            <td>Goa</td>
            <td>28th Jan 2018</td>
            <td>4th Feb 2018</td>
            <td>15000</td>
        </tr>
        <tr>
            <td>11</td>
            <td>11</td>
            <td>User11</td>
            <td>Chikmanguluru</td>
            <td>28th Jan 2018</td>
            <td>31st Jan 2018</td>
            <td>9500</td>
        </tr>
        <tr>
            <td>12</td>
            <td>12</td>
            <td>User12</td>
            <td>Chikmanguluru</td>
            <td>28th Jan 2018</td>
            <td>31st Jan 2018</td>
            <td>9500</td>
        </tr>
        <tr>
            <td>13</td>
            <td>13</td>
            <td>User13</td>
            <td>Chikmanguluru</td>
            <td>28th Jan 2018</td>
            <td>2nd Feb 2018</td>
            <td>15000</td>
        </tr>
        <tr>
            <td>14</td>
            <td>14</td>
            <td>User14</td>
            <td>Chikmanguluru</td>
            <td>27th Jan 2018</td>
            <td>31st Jan 2018</td>
            <td>12000</td>
        </tr>
        <tr>
            <td>15</td>
            <td>15</td>
            <td>User15</td>
            <td>Chikmanguluru</td>
            <td>27th Jan 2018</td>
            <td>31st Jan 2018</td>
            <td>12000</td>
        </tr>
        <tr>
            <td>16</td>
            <td>16</td>
            <td>User16</td>
            <td>Chikmanguluru</td>
            <td>27th Jan 2018</td>
            <td>31st Jan 2018</td>
            <td>12000</td>
        </tr>
        <tr>
            <td>17</td>
            <td>17</td>
            <td>User17</td>
            <td>Delhi</td>
            <td>27th Jan 2018</td>
            <td>31st Jan 2018</td>
            <td>12000</td>
        </tr>
        <tr>
            <td>18</td>
            <td>18</td>
            <td>User18</td>
            <td>Kashmir</td>
            <td>30th Jan 2018</td>
            <td>2nd Feb 2018</td>
            <td>12500</td>
        </tr>
        <tr>
            <td>19</td>
            <td>19</td>
            <td>User19</td>
            <td>Kashmir</td>
            <td>30th Jan 2018</td>
            <td>2nd Jan 2018</td>
            <td>12500</td>
        </tr>
        <tr>
            <td>20</td>
            <td>20</td>
            <td>User20</td>
            <td>Kashmir</td>
            <td>30th Jan 2018</td>
            <td>2nd Feb 2018</td>
            <td>12500</td>
        </tr>
        <tr>
            <td>21</td>
            <td>21</td>
            <td>User21</td>
            <td>Papi Kondalu</td>
            <td>28th Jan 2018</td>
            <td>31st Jan 2018</td>
            <td>10000</td>
        </tr>
        <tr>
            <td>22</td>
            <td>22</td>
            <td>User22</td>
            <td>Papi Kondalu</td>
            <td>28th Jan 2018</td>
            <td>31st Jan 2018</td>
            <td>10000</td>
        </tr>
        <tr>
            <td>23</td>
            <td>23</td>
            <td>User23</td>
            <td>Papi Kondalu</td>
            <td>28th Jan 2018</td>
            <td>31st Jan 2018</td>
            <td>10000</td>
        </tr>
        <tr>
            <td>24</td>
            <td>24</td>
            <td>User24</td>
            <td>Papi Kondalu</td>
            <td>28th Jan 2018</td>
            <td>31st Jan 2018</td>
            <td>10000</td>
        </tr>
        <tr>
            <td>25</td>
            <td>25</td>
            <td>User25</td>
            <td>Papi Kondalu</td>
            <td>28th Jan 2018</td>
            <td>31st Jan 2018</td>
            <td>10000</td>
        </tr>
    </tbody>
</table>
























// if (tabledata.length > 0) {
    //     //create table
    //     // table = `<div class="table-responsive"><table class="table table-bordered table-space"><thead><tr>`
    //     table = `<table class="table table-bordered table-space"><thead><tr>`
    //     Object.keys(tabledata[0]).forEach((key) => {
    //         table += `<th style="page-break-inside:avoid;">` + [key] + `</th>`;
    //     })
    //         table += `</tr></thead>`;
    //     for (var i = 0; i < tabledata.length; i++) {
    //         //create table body
    //         let tbody = `<tr style="page-break-inside:avoid; page-break-after:auto">`;

    //         Object.keys(tabledata[0]).forEach((key) => {
    //             if (tabledata[i][key]) {
    //                 tbody += `<td style="page-break-inside:avoid;">` + tabledata[i][key] + `</td>`;
    //             }
    //             else if ((tabledata[i][key] == undefined || tabledata[i][key] == null)) {
    //                 tbody += `<td>` + ' ' + `</td>`;
    //             }
    //         })
    //         table += tbody
    //     }
    //     table += `</tr></table>`;

    // }

    if (tabledata.length > 0) {
        table = `<table class="table table-bordered"><thead><tr>`
        Object.keys(tabledata[0]).forEach((key) => {
            table += `<th style="page-break-inside:avoid;">` + [key] + `</th>`;
        })
        table += `</tr></thead>`
        table += `<tbody>`
        for (var i = 0; i < tabledata.length; i++) {
            table += `<tr style="page-break-inside:avoid; page-break-after:auto">`;
            //create table body
            Object.keys(tabledata[0]).forEach((key) => {
                if (tabledata[i][key]) {
                    table += `<td style="page-break-inside:avoid;">` + tabledata[i][key] + `</td>`;
                }
                else if ((tabledata[i][key] == undefined || tabledata[i][key] == null)) {
                    table += `<td style="page-break-inside:avoid;">` + ' ' + `</td>`;
                }
            })
            table += `</tr>`
        }
        table += `</tbody></table>`
    }