        <!--<i class="fa fa-cart-arrow-down" aria-hidden="true"></i><br><span>{{'cart'|translate:this}}</span><div class="numbcart">{{ ngCart.getTotalItems() }}</div>-->

        <div class="cartbuton deskcatogories"><a ui-sref="checkout({val:'true'})"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a><div class="numbcart">{{ ngCart.getTotalItems() }}</div></div>
        <div class="cartbuton mobcatogories"><a><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a><div class="numbcart">{{ ngCart.getTotalItems() }}</div></div>